.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: aliceblue;
    flex-direction: column;

    .title {
        font-size: 18px;
    }
}